
INSERT INTO admin_users (id, username, email, password_hash, role, is_active, created_at, updated_at)
VALUES ('a082ba1a-2374-4004-9fd1-a29b2b015090', 'fernando.costa', 'fernandocostaxavier@gmail.com', '$2b$12$aCN.QENppe/aaeN0PTEkMuovMBI5/nqgsvFd1Fsm1hhSUGhnC/4zm', 'SUPERADMIN', true, NOW(), NOW())
ON CONFLICT (email) DO UPDATE 
SET password_hash = '$2b$12$aCN.QENppe/aaeN0PTEkMuovMBI5/nqgsvFd1Fsm1hhSUGhnC/4zm', 
    role = 'SUPERADMIN', 
    is_active = true, 
    updated_at = NOW();

